<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuite name="SimpleFM Test Suite">
        <directory>./SoliantTest</directory>
        <exclude>./SoliantTest/_files/</exclude>
        <exclude>./SoliantTest/AllTests/</exclude>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
